.create-transaction {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2196f3;
  margin-left: 40%;
  margin-bottom: 10px;
}

.btn:hover,
.btn-large:hover,
.btn-small:hover {
  background-color: #69bafc;
}
