form fieldset {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 10px;
}

/* [type="radio"]:checked + span:after,
 
[type="radio"].with-gap:checked + span:before,
 
[type="radio"].with-gap:checked + span:after {
 
  border: 2px solid #ef5350;
 
}

[type="radio"]:checked + span:after,
 
[type="radio"].with-gap:checked + span:after {
 
  background-color: #ef5350;
 
} */

/* Mudar cor da borda do radio button */
[type='radio']:checked + span:after {
  border: 2px solid #2196f3;
}

/* Mudar cor do interior do radio button*/
[type='radio']:checked + span:after {
  background-color: #2196f3;
}
